﻿@using Microsoft.AspNetCore.Http

@model IEnumerable<CarpoolingProject.Models.Dtos.TravelDto>
    <br />
    <br />
    <h1 id="center-h1">Travels</h1>
    <form class="search">
        <input asp-controller="Travel" asp-action="Sort" type="text" placeholder="Search.." name="search">
        <input type="submit" asp-controller="Travel" asp-action="Sort" class="btn btn-primary">
    </form>
    
<partial name="Travel_TableView" /> 