﻿@model CarpoolingProject.Models.RequestModels.CreateTravelRequestModel
<form asp-action="Update">

    <div>
        <label asp-for="StartCity" class="form-label"></label>
        <br />
        <input asp-for="StartCity" class="form-input" />
        <span asp-validation-for="StartCity" class="form-error"></span>
    </div>
    <div>
        <label asp-for="StartStreet" class="form-label"></label>
        <br />
        <input asp-for="StartStreet" class="form-input" />
        <span asp-validation-for="StartStreet" class="form-error"></span>
    </div>
    <div>
        <label asp-for="EndCity" class="form-label"></label>
        <br />
        <input asp-for="EndCity" class="form-input" />
        <span asp-validation-for="EndCity" class="form-error"></span>
    </div>
    <div>
        <label asp-for="EndStreet" class="form-label"></label>
        <br />
        <input asp-for="EndStreet" class="form-input" />
        <span asp-validation-for="EndStreet" class="form-error"></span>
    </div>
    <div>
        <label asp-for="DepartureTime" class="form-label"></label>
        <br />
        <input asp-for="DepartureTime" type="datetime-local" class="form-input" />
        <span asp-validation-for="DepartureTime" class="form-error"></span>
    </div>
    <div>
        <label asp-for="FreeSpots" class="form-label"></label>
        <br />
        <input asp-for="FreeSpots" class="form-input" />
        <span asp-validation-for="FreeSpots" class="form-error"></span>
    </div>
    @*<div>
            <label asp-for="Creator.UserName" class="form-label"></label>
            <br />
            <input asp-for="Creator.UserName" class="form-input" />
            <span asp-validation-for="Creator.UserName" class="form-error"></span>
        </div>
        <div>
            <label asp-for="Creator.AverageRating" class="form-label"></label>
            <br />
            <input asp-for="Creator.AverageRating" class="form-input" />
            <span asp-validation-for="Creator.AverageRating" class="form-error"></span>
        </div>*@
    <div>
        <label asp-for="AdditionalInfo" class="form-label"></label>
        <br />
        <input asp-for="AdditionalInfo" class="form-input" />
        <span asp-validation-for="AdditionalInfo" class="form-error"></span>
    </div>
    <div>
        <label asp-for="PricePerPerson" class="form-label"></label>
        <br />
        <input asp-for="PricePerPerson" class="form-input" />
        <span asp-validation-for="PricePerPerson" class="form-error"></span>
    </div>

    <div>
        <input type="submit" value="Update" class="btn-primary" />
        <input type="reset" value="Back" class="btn-primary" />
    </div>
</form>
