﻿<section class="py-0" >
<div id ="firstPage" class="bg-holder d-none d-md-block" >
</div >
<!-- /.bg-holder-- >

<div class="container position-relative" >
<div class="row align-items-center min-vh-75 my-lg-8" >
<div class="col-md-7 col-lg-6 text-center text-md-start py-8" >
<h1 class="mb-4 display-1 lh-sm" > Travel to<br class="d-block d-lg-none d-xl-block" / > your desired location</h1 >
<p class="mt-4 mb-5 fs-1 lh-base" > Meet new people, make new connections</p > <a class="btn btn-lg btn-primary hover-top" asp-controller="User" asp-action="Register" role="button" > Sign Up Now</a >
</div >
</div >
</div >
</section >/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
