﻿@model CarpoolingProject.Web.Models.LoginViewModel
<form asp-action="@ViewData["Action"]">
    <div>
        <label asp-for="Username" class=" form-label"></label>
        <br />
        <input asp-for="Username" class="form-input" />
        <span asp-validation-for="Username" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Password" class=" form-label"></label>
        <br />
        <input asp-for="Password" class="form-input" type="password" id="myInput" />
        <br />
        <input type="checkbox" onclick="myFunction()" />Show Password
        <span asp-validation-for="Password" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="Login" class="btn-primary" />
        <input type="submit" value="Register" asp-controller="User" asp-action="Register" class="btn-primary">

    </div>
</form>
<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
