﻿@using Microsoft.AspNetCore.Http

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Starting Point</th>
            <th scope="col">Ending Point</th>
        </tr>
    </thead>
    @{
        foreach (var travel in this.Model)
        {
            <tbody>
                <tr class="table-secondary">
                    <td scope="row">@travel.TravelId</td>
                    <td scope="row">@travel.UserName</td>
                    <td scope="row">@travel.StartCity</td>
                    <td scope="row">@travel.EndCity</td>
                </tr>
            </tbody>
        }
    }
</table>