﻿@{ ViewData["Title"] = "Update"; }
@model CarpoolingProject.Models.RequestModels.UpdateUserRequestModel

<h2>Update</h2>

<form asp-action="Update">
    <div>
        <label asp-for="UserName" class="form-label"></label>
        <br />
        <input asp-for="UserName" class="form-input" />
        <span asp-validation-for="UserName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="FirstName" class="form-label"></label>
        <br />
        <input asp-for="FirstName" class="form-input" />
        <span asp-validation-for="FirstName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="LastName" class="form-label"></label>
        <br />
        <input asp-for="LastName" class="form-input" />
        <span asp-validation-for="LastName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Email" class="form-label"></label>
        <br />
        <input asp-for="Email" class="form-input" />
        <span asp-validation-for="Email" class="form-error"></span>
    </div>
    <div>
        <label asp-for="ImagePath" class="form-label"></label>
        <br />
        <input asp-for="ImagePath" type="image" class="form-input" />
        <span asp-validation-for="ImagePath" class="form-error"></span>
    </div>
    <div>
        <input type="submit" value="" class="btn-primary" />
        <input type="submit" value="" class="btn-primary" />
    </div>
</form>
